################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/HabitTracker.Server/.vs/HabitTracker.Server/DesignTimeBuild/.dtbcache
